/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";




@theme {


  --font-display: "Satoshi", "sans-serif";
  --font-kanit: "Poppins", "sans-serif";
  --font-montserrat: "Montserrat", "sans-serif";
  --font-playfair: "Playfair Display", "sans-serif";

  /* --font-kanit: "Mulish"; */


  --color-background:var(--color-white);

  --color-primary: var(--color-blue-700);
  --color-primary-light: var(--color-blue-100);
  --color-primary-dark:  var(--color-blue-800);

  --color-secondary: var(--color-violet-700);
  --color-secondary-light: var(--color-violet-400);
  --color-secondary-dark: var(--color-violet-800);

  --color-base: var(--color-gray-600);
  --color-base-light: var(--color-gray-400);
  --color-base-dark: var(--color-gray-900);
  --color-heading: var(--color-blue-900);
  --color-muted: var(--color-gray-200);
  --color-link: var(--color-blue-900);
  --color-error: var(--color-red-400);
  --color-success: var(--color-blue-900);
  --color-warning: var(--color-blue-900);
  --color-accent: var(--color-blue-900);
  --color-light: var(--color-white);






  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}